
html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
  padding: 50px;
}

body {
  margin: 0;
}

main {
  max-width: 42em;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
}

img {
  max-width: 100%;
}

.image {
  display: inline-block;
  max-width: 100%;
  min-height: 150px;
  min-width: 150px;
  position: relative;
}

.image .loadingtext, .image .progress {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  text-align: center;
  border: 1px dashed #ccc;
}

.image .bgimg {
  max-width: 100%;
  opacity: 0.3;
}